{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{%  static 'CSS/home.css' %}">

    <title> Home </title>
</head>


<body>

    <header>

        <h1> Fuck, Marry, Kill!</h1>

    </header>

    <nav>

        <ul>

            <li> <a class="navlink" href="{% url 'play'  %}"> Play          </a>  </li>
            <li> <a class="navlink" href="{% url 'settings'  %}"> Settings  </a> </li>
            <Li> <a class="navlink" href="{% url 'about'  %}"> About        </a> </Li>
            
        </ul>
    
    </nav>

    <script>

        $(".navlink").click(function(){

            localStorage.clear()

        })

    </script>

    <div class="wrapper">

        <div class="Fuck_Box">

            <div>
                
                <img src="media/images/fuck.png">

                <p> Fuck </p>

            </div>

        </div>

        <div class="Marry_Box">

            <div>

                <img src="media/images/marry.png">

                <p> Marry </p>

            </div>
            
        </div >

        <div class="Kill_Box">

            <div>

                <img src="media/images/kill.png">

                <p> Kill </p>

            </div>

        </div>

    </div>


</body>
</html>